<!-- Wireframe in 
	https://www.canva.com/design/DAEMpzSaER8/4v3v5uYbHQOpbuz6kRFPhg/view?website#2 
-->

<html>

	<head>
		<title>E-learno</title>
		<link rel="icon" type="image/png" href="/images/logo.png"/>
		<link rel="stylesheet" type="text/css" href="/css/landingPage.css">
	</head>
	<body>

		<script type="text/javascript" src="/js/landingPage.js"></script>
	</body>
</html>